In [1]:
import pandas as pd

In [2]:
pd.pandas.set_option('display.max_columns', None)

In [3]:
data= pd.read_csv("data.csv")

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
data.shape

(11914, 16)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [7]:
data.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650

In [8]:
data.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [9]:
data = data.drop(['Engine Fuel Type', 'Market Category', 'Vehicle Style', 'Popularity', 'Number of Doors', 'Vehicle Size'], axis=1)

data.head(5)

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,rear wheel drive,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,rear wheel drive,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,rear wheel drive,28,18,34500

In [10]:
duplicate_rows_data = data[data.duplicated()]
print("number of duplicate rows: ", duplicate_rows_data.shape)

number of duplicate rows:  (989, 10)

In [11]:
# for i in range(data):
#     if duplicate_rows_data:
#         data=data.drop(duplicate_rows_data[i])

data = data.drop_duplicates()

In [12]:
data.shape

(10925, 10)

In [13]:
data.count()

Make                 10925
Model                10925
Year                 10925
Engine HP            10856
Engine Cylinders     10895
Transmission Type    10925
Driven_Wheels        10925
highway MPG          10925
city mpg             10925
MSRP                 10925
dtype: int64

In [15]:
print(data.isnull().sum())

Make                  0
Model                 0
Year                  0
Engine HP            69
Engine Cylinders     30
Transmission Type     0
Driven_Wheels         0
highway MPG           0
city mpg              0
MSRP                  0
dtype: int64

In [16]:
data=data.dropna()

In [17]:
data.shape

(10827, 10)

In [18]:
data.count()

Make                 10827
Model                10827
Year                 10827
Engine HP            10827
Engine Cylinders     10827
Transmission Type    10827
Driven_Wheels        10827
highway MPG          10827
city mpg             10827
MSRP                 10827
dtype: int64

In [19]:
data.describe(include='all')

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,highway MPG,city mpg,MSRP
count,10827,10827,10827.000000,10827.000000,10827.000000,10827,10827,10827.000000,10827.000000,1.082700e+04
unique,47,904,NaN,NaN,NaN,5,4,NaN,NaN,NaN
top,Chevrolet,Silverado 1500,NaN,NaN,NaN,AUTOMATIC,front wheel drive,NaN,NaN,NaN
freq,1043,156,NaN,NaN,NaN,7750,4168,NaN,NaN,NaN
mean,NaN,NaN,2010.896370,254.553062,5.691604,NaN,NaN,26.308119,19.327607,4.249325e+04
std,NaN,NaN,7.029534,109.841537,1.768551,NaN,NaN,7.504652,6.643567,6.229451e+04
min,NaN,NaN,1990.000000,55.000000,0.000000,NaN,NaN,12.000000,7.000000,2.000000e+03
25%,NaN,NaN,2007.000000,173.000000,4.000000,NaN,NaN,22.000000,16.000000,2.197250e+04
50%,NaN,NaN,2015.000000,240.000000,6.000000,NaN,NaN,25.000000,18.000000,3.084500e+04
75%,NaN,NaN,2016.000000,303.000000,6.000000,NaN,NaN,30.000000,22.000000,4.330000e+04
max,NaN,NaN,2017.000000,1001.000000,16.000000,NaN,NaN,354.000000,137.000000,2.065902e+06